# Ignore virtual environments
.venv/
.conda/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env

# Ignore other system files
*.log
*.sqlite3

# VSCode settings (nếu bạn dùng VSCode)
.vscode/

# Windows system files
Thumbs.db
pspnet_chestxray_best_model_4.pth